.dates-wrapper {
  display: flex;
  height: 80px;
  align-items: center;

  @media (max-width: 768px) {
    height: 60px;
  }
}

.dates {
  overflow-x: hidden;
  overflow-y: hidden;
  display: flex;
  flex-direction: row;
  gap: 1rem;
  text-align: center;
  user-select: none;
}

.date-item {
  color: #9B9B9B;
  padding: 0 10px;
  min-width: 60px;
  &__focus {
    @extend .date-item;
    color: #FFFFFF
  }
}

.star-container {
  min-width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;

  @media (max-width: 768px) {
    min-width: 50px;
  }
}

.times-wrapper {
  display: flex;
  align-items: center;
  color: #FFFFFF;
}

.time-item {
  display: flex;
  align-items: center;
  height: 50px;
  gap: 1px;
}
