.epg-wrapper {
  display: flex;
  height: 87%;
}

// Channels styles
.channels-wrapper {
  width: 7%;
  display: flex;
  flex-direction: column;
  height: 80%;
  position: absolute;
  background-color: #202020;
  bottom: 0;
  @media (max-width: 400px) {
    width: 20%;
  }
}

.channel {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  > img {
    width: 40px;
  }
}

// Schedules styles
.schedules-wrapper {
  width: 93%;
  margin-left: auto;

  @media (max-width: 400px) {
    width: 80%;
  }
}

.schedules {
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  overflow-y: hidden;
  flex-shrink: 1;
  flex-grow: 1;
  height: 99%;
  position: relative;
}

.schedules-row {
  display: flex;
  align-items: center;
  margin: 0.1rem 0;
  flex: 1;
}

.schedule-wrapper {
  color: #FFFF;
  border: 1px solid #393939;
  margin-right: 1px;
  height: 100%;

  &__focus {
    border: 1px solid red;
  }
}
.schedule-wrapper:last-child {
  margin-right: 0;
}

.schedule {
  display: flex;
  flex-direction: column;
  gap: 7px;
  padding-left: 20px;
  padding-top: 20px;
}

// Timeline Styles

.timeline {
  position: absolute;
  width: 2px;
  height: 100%;
  background-color: yellow;
}

.test {
  display: flex;
  height: 100%;
}