body {
  background-color: #202020;
}

.epg-container {
  display: flex;
}

.channel-list {
  width: 200px; /* Ancho fijo para la lista de canales */
  background-color: #f0f0f0;
  padding: 10px;
}

.channel {
  margin-bottom: 10px;
}

.program-list {
  overflow-x: auto; /* Hace que la lista de programas sea desplazable horizontalmente */
  flex: 1;
  padding: 10px;
}

.channel-programs {
  display: flex;
  align-items: center;
}

.program {
  color: #FFFF;
  min-width: 200px;
  padding: 10px;
  border: 1px solid #393939;
  height: 75px;
  display: flex;
  flex-direction: column;
  gap: 7px;
}